1) 
In the below elements which of them are values or an 
expression? eg:- values can be
integer or string and expressions will be mathematical operators.

ans -- * is a expression

'hello" is a value(str)

-87.8 is a value

-is a expression

/ is a expression

+is a expression

6 is a value

2) What is the difference between string and variable?

A string is any series of characters that are interpreted literally by a script.string is a datatype which is used to represent text type data.for eg- "datascience", "inueron"

A Python variable is a reserved memory location to store values. Variables are used to store data, they take memory space based on the type of value we assigning to them. for eg-

a,b = 50, "data". in this a and b are variables storind datatypes 50 int and data str respectively.

3) Describe three different data types.

ans- following are the 3 data types in python-

a)numeric data type- 1. integer represented by int. eg -2,6,8990
                   
                   2. complex represented by complex. eg - 4+6j
                   
                   3. float represented by float. eg- 3.14,56.7

b)boolean data type- these represent one of the 2 values i.e True or False

c)sequence data type- 1. string represented by str eg- "name",  
                      "dattype"
                    
                    2. Lists are used to store multiple items in a single variable. eg- l = [3, "ad", 4+6j, True]
                    
                    3. tuples are used to store multiple items in a single variable.eg - t = (5,"in",False)

4)What is an expression made up of? What do all expressions do?

ans= An expression is a combination of operators and operands that is interpreted to produce some other value.
+=Addition

â€“ =	Subtraction

*=Multiplication

/	=	Division

//	=	Quotient

%	=	Remainder
** = Exponentiation

5)This assignment statements, like spam = 10. What is the difference between an
expression and a statement?

ans = Statements represent an action or command e.g print statements, assignment statements. 

Expression is a combination of variables, operations and values that yields a result value

6)After running the following code, what does the variable bacon contain?

bacon = 22

bacon + 1

In [1]:
#ans
bacon= 22
bacon +1

23

7) 7. What should the values of the following two terms be?

'spam' +'spamspam'

'spam' * 3

In [7]:
#ans 
a='spam' +'spamspam'
b= 'spam' * 3
print(a)
print(b)

spamspamspam
spamspamspam

8) Why is eggs a valid variable name while 100 is invalid?

ans= a variable name cannot start from numerical value but the value can be added after the alphabet used to create a variable

In [2]:
1a = "adhi"

SyntaxError: ignored

In [3]:
a1= "adhi"

9) What three functions can be used to get the integer, floating-point number, or string
version of a value?

ans= the functions are int() , float() and str() respectively

10)Why does this expression cause an error? How can you fix it?

'i have eaten' + 99+ 'burittos'

In [10]:
#it causes an error due to the fact that 2 different data types cannot be added and it can be fixed using type conversion
'i have eaten ' + str(99) + ' burittos'

'i have eaten 99 burittos'