1. Set the variable test1 to the string &#39;This is a test of the emergency text system,&#39; and save test1 to a
file named test.txt.

In [6]:
test1="This is a test of the emergency text system"
f=open("test.txt","w")
f.write(test1)
f.close()
f=open("test.txt","r")
f.read()
f.close()

2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1
and test 2?

In [10]:

f=open("test.txt","r")
test2=f.readline()
test2

'This is a test of the emergency text system'

3. Create a CSV file called books.csv by using these lines:

title,author,year

The Weirdstone of Brisingamen,Alan Garner,1960

Perdido Street Station,China Miéville,2000

Thud!,Terry Pratchett,2005

The Spellman Files,Lisa Lutz,2007

Small Gods,Terry Pratchett,1992

In [19]:
import csv
data=[['title','author','year'],
      ['The Weirdstone of Brisingamen','Alan Garner',1960],
      ['Perdido Street Station','China Miéville',2000],
      ['Thud!','Terry Pratchett',2005],
      ['The Spellman Files','Lisa Lutz',2007],
      ['Small Gods','Terry Pratchett',1992]]

with open ("books.csv",'w') as file:
  write=csv.writer(file)
  write.writerows(data)

4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with
these fields: title (text), author (text), and year (integer).

In [26]:
import sqlite3
connect=sqlite3.connect("books.db")
cur=connect.cursor()
cur.execute('create table books(title varchar(20),author varchar(20),year int(10))')
connect.commit()

OperationalError: ignored

5. Read books.csv and insert its data into the book table.

In [37]:
import pandas as pd
read=pd.read_csv("books.csv")
read.to_sql('books',connect,if_exists='append',index=False)

6. Select and print the title column from the book table in alphabetical order.

In [45]:
cur.execute("select title from books order by title asc")
print(cur.fetchall())

[('Perdido Street Station',), ('Small Gods',), ('The Spellman Files',), ('The Weirdstone of Brisingamen',), ('Thud!',)]

7. From the book table, select and print all columns in the order of publication.

In [49]:
cur.execute("select * from books order by year")
df=pd.DataFrame(cur.fetchall(),columns= ['title','authir','year'])
df

                           title           authir  year
0  The Weirdstone of Brisingamen      Alan Garner  1960
1                     Small Gods  Terry Pratchett  1992
2         Perdido Street Station   China Miéville  2000
3                          Thud!  Terry Pratchett  2005
4             The Spellman Files        Lisa Lutz  2007

8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in
exercise 6.

In [52]:

import sqlalchemy
e=sqlalchemy.create_engine("sqlite:///books.db")
data=e.execute('select * from books')
for i in data:
  print(i)

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('Small Gods', 'Terry Pratchett', 1992)

9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a
Redis hash called test with the fields count (1) and name (&#39;Fester Bestertester&#39;). Print all the fields for
test.

In [53]:
!pip install redis

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting redis
  Downloading redis-4.3.3-py3-none-any.whl (244 kB)
     |████████████████████████████████| 244 kB 5.4 MB/s
Collecting deprecated>=1.2.3
  Downloading Deprecated-1.2.13-py2.py3-none-any.whl (9.6 kB)
Collecting async-timeout>=4.0.2
  Downloading async_timeout-4.0.2-py3-none-any.whl (5.8 kB)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from redis) (4.1.1)
Requirement already satisfied: importlib-metadata>=1.0 in /usr/local/lib/python3.7/dist-packages (from redis) (4.11.4)
Requirement already satisfied: packaging>=20.4 in /usr/local/lib/python3.7/dist-packages (from redis) (21.3)
Requirement already satisfied: wrapt<2,>=1.10 in /usr/local/lib/python3.7/dist-packages (from deprecated>=1.2.3->redis) (1.14.1)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=1.0->redis) (3.8.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=20.4->redis) (3.0.9)
Installing collected packages: deprecated, async-timeout, redis
Successfully installed async-timeout-4.0.2 deprecated-1.2.13 redis-4.3.3